<div class="card col-3">
    <div class="  card-body">
        <h3>Events</h3>
        <table class="table mt-5">
            <tbody>
            {% for event in events %}
                <tr>
                    <th scope="row">#</th>
                    <td>{{ event.name }}</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
</div>