<div class="card col-3">
    <div class=" card-body">
        <h3>Holidays</h1>
            <table class="table mt-5">
                <tbody>
                {% for birthday in birthdays %}
                    <tr>
                        <th scope="row">#</th>
                        <td>{{ birthday.name }}</td>
                    </tr>

                {% endfor %}

                {% for nameDay in nameDays %}
                    <tr>
                        <th scope="row">#</th>
                        <td>{{ nameDay.name }}</td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
    </div>
</div>