{% extends 'base.html.twig' %}

{% block bodyExtraClasses %} dailyNote-index {% endblock %}

{% block pageContent %}
    <div class="card col">
    <div class=" row card-body">
        {{ form(form) }}

    </div>

{% endblock %}