{% extends 'base.html.twig' %}

{% block bodyExtraClasses %} dailyNote-index {% endblock %}

{% block pageContent %}
    <div class="row">
        <div class="col container-fluid">
            <div class="row card">
                <div class="col card-body d-flex flex-column justify-content-center align-items-center">
                    <div class="row">
                        <h1> < {{ "now"|date("Y.m.d.") }} > </h1>
                    </div>
                    <div class="row">
                        <h2>{{ "now"|date('l') }} </h2>
                    </div>
                    <div class="d-flex pt-3">
                        <button type="button" class="btn red ms-2 me-2">New event</button>
                        <button type="button" class="btn red ms-2 me-2">New note</button>
                        <button type="button" class="btn red ms-2 me-2">New birthday</button>
                        <button type="button" class="btn red ms-2 me-2">New nameday</button>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                {% include 'widgets/todoList.html.twig' %}
                {% include 'widgets/event.html.twig' %}
                {% include 'widgets/holiday.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}